.message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 0;
  border-radius: 5px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  line-height: 2;
  display: flex;
  align-items: center;
  transition: 0.5s;
  transform: translate(-50%, -50%) translateY(25px);
  opacity: 0;
  white-space: nowrap;
  color: #fff;
}
.message-iconxinxi {
  background-color: #6b9eee;
}
.message-iconzhengque {
  background-color: #7ebf50;
}
.message-iconjinggao {
  background-color: #dc6a12;
}
.message-iconcuowu {
  background-color: #cc3600;
}
.icon {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
}
